<YealinkIPPhoneMenu>
<Title>Praxisberlin</Title>
  <MenuItem>
    <Name>Haus Jahreszeiten</Name>
    <URL>https://raw.githubusercontent.com/ZahraSouqia/test/main/Jahreszeiten.xml</URL>
  </MenuItem>
  <MenuItem>
    <Name>Haus Wilmersdorf</Name>
    <URL>https://raw.githubusercontent.com/ZahraSouqia/test/main/Wilmersdorf.xml</URL>
  </MenuItem>
    <MenuItem>
    <Name>Haus Jungfernheide</Name>
    <URL>https://raw.githubusercontent.com/ZahraSouqia/test/main/Jungfernheide.xml</URL>
  </MenuItem>
</YealinkIPPhoneMenu>
